__pycache__/

*.txt
*.out
*.log
*.ipynb
*.sh
*.npz
*.tar.gz
!data_preparation.ipynb

.ipynb_checkpoints/


# figure
figure/

# log directory
predictor/logs/
predictor/result_transformer

# data directory
1_data_preprocessing/

# generator
generator/logs/

# reinforce
reinforce/logs*/
reinforce/old_logs*/

# lib
PORMAKE/

# big file size
model/
data/
raw_data/
_data/
assets/
results/
test/
logs/
logs_official/
tmp/

# setuptools
build/
dist/
.eggs/
*.egg-info
*.eggs