__pycache__/

*.out
*.log
*.ipynb
*.sh
*.npz

.ipynb_checkpoints/


# figure
figure/

# log directory
predictor/logs/
predictor/result_transformer

# data directory
1_data_preprocessing/

# generator
generator/logs/

# reinforce
reinforce/logs*/
reinforce/old_logs/

# library
libs/

# big file size
model/
data/
_data/
assets/
results/
test/