__pycache__/

*.out
*.log
*.ipynb
*.sh
*.npz

.ipynb_checkpoints/

# log directory
predictor/log/

# data directory
1_data_preprocessing/

# generator
generator/save* 

# big file size
data/rmsd*
data/vf*
